<app-header></app-header>

<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Pelicula</th>
        <th scope="col">Etiqueta</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Aliens, el regreso</td>
        <td>alien, accion, james cameron</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Amadeus</td>
        <td>musical, clasica</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Buscando a Dory</td>
        <td>infantil</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Anabelle</td>
        <td>Terror</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Bsucando a Nemo</td>
        <td>infantil</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Chicas pesadas</td>
        <td>Comedia</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>El conjuro</td>
        <td>Terror</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>Crepusculo</td>
        <td>Aventura, romance</td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>El imperio contraataca</td>
        <td>drama, espacio</td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td>El precio del poder</td>
        <td>accion</td>
      </tr>
    </tbody>
  </table>

  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="#">Atrás</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">4</a></li>
      <li class="page-item"><a class="page-link" href="#">5</a></li>
      <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
    </ul>
  </nav>